.buttonStyle {
        background: linear-gradient(45deg, #333, #555);
        color: white;
        border: none;
        padding: 20px 20px;
        font-size: 28px;
        cursor: pointer;
        font-family: 'VT323', monospace;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    
  
